<section class="blog-area section-gap" *ngIf="post">
  <div class="container">
    <div class="row banner" *ngIf="post.postimage">
      <img [src]="post.postimage" alt="" width="auto" height="auto" />
    </div>
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="blog-dteails-content">
          <a routerLink="/blog/{{ post.slug }}" class="cat">
            {{ post.categoryname }}
          </a>
          <h3 class="title">
            {{ post.title }}
          </h3>
          <ul class="post-meta">
            <li><i class="fal fa-eye"></i> {{ post.views }} Views</li>
            <li>
              <i class="fal fa-comments"></i>
              {{ commentsCount ? commentsCount : "0" }} Comment(s)
            </li>
            <li>
              <i class="fal fa-calendar-alt"></i> {{ getDate(post.createdat) }}
            </li>
          </ul>
          <div [innerHtml]="post.content" class="content"></div>
          <div class="post-footer mt-40 mb-40">
            <div class="d-sm-flex justify-content-between">
              <div class="related-tag">
                <h5>Related</h5>
                <!-- <ul>
                  <li *ngFor="let tag of getBlogTags(item.tags)">
                    <a routerLink="/blog/tag/{{ tag.id }}">{{ tag.title }} </a>
                  </li>
                </ul> -->
              </div>
              <div class="social-share">
                <h5>Social Share</h5>
                <ul>
                  <li>
                    <a
                      [href]="
                        'https://www.facebook.com/sharer/sharer.php?u=https://choclawrence.github.io/mboalab' +
                        route.url +
                        '&t=' +
                        post.content
                      "
                      onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                      target="_blank"
                      title="Share on Facebook"
                      ><i class="fab fa-facebook-f"></i
                    ></a>
                  </li>
                  <li>
                    <a
                      [href]="
                        'https://twitter.com/share?url=https://choclawrence.github.io/mboalab' +
                        route.url +
                        '&text=' +
                        post.content
                      "
                      onclick="javascript:window.open(this.href, '', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=300,width=600');return false;"
                      target="_blank"
                      title="Share on Twitter"
                      ><i class="fab fa-twitter"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
            <!-- <div class="divider"></div>
            <div class="post-nav">
              <div class="prev-post">
                <span>Prev Post</span>
                <h3>
                  <a routerLink="/blog/{{ post.slug }}">Tips On Minimalist</a>
                </h3>
              </div>
              <div class="next-post">
                <span>Next Post</span>
                <h3>
                  <a routerLink="/blog/{{ post.slug }}">Less Is More</a>
                </h3>
              </div>
            </div> -->
            <div class="divider"></div>
            <div class="post-author" *ngIf="userProfile">
              <div class="image">
                <img
                  [src]="userImage ? userImage : default"
                  [alt]="userProfile.username"
                />
              </div>
              <div class="info">
                <span>Written by</span>
                <h4>
                  {{ userProfile.firstname + " " + userProfile.lastname }}
                </h4>
                <p [innerHtml]="userProfile.bio | slice: 0:100" class="bio"></p>
              </div>
            </div>
          </div>
          <div class="comment-template">
            <h3 class="template-title">{{ commentsCount ? commentsCount : '0' }} Comment(s)</h3>
            <ul class="comments-list">
              <li *ngFor="let comment of comments">
                <div class="edit text-right">
                  <i class="fas fa-ellipsis-v black"></i>
                </div>
                <div class="comment-author">
                  <img [src]="comment.avatar" [alt]="comment.names" />
                </div>
                <div class="comment-content">
                  <h6>{{ comment.names }}</h6>
                  <span class="date"
                    ><i class="fal fa-calendar-alt"></i>
                    {{ _core.getDate(comment.createdat) }}</span
                  >
                  <p>{{ comment.text }}</p>
                  <!-- <a href="#" class="reply-link"
                    ><i class="fal fa-reply"></i> Reply</a
                  > -->
                </div>
              </li>
            </ul>
            <div class="divider"></div>
            <h3 class="template-title">Post Comment</h3>
            <div class="comment-form">
              <form
                class="form"
                id="commentForm"
                [formGroup]="commentForm"
                (ngSubmit)="onSubmitComment()"
              >
                <div
                  *ngIf="action == 'updateComment' || action == 'addComment'"
                >
                  <div class="input-group textarea-group mb-20">
                    <textarea
                      type="text"
                      formControlName="text"
                      placeholder="Type your comments...."
                    ></textarea>
                    <span class="icon"><i class="fal fa-pencil"></i></span>
                  </div>
                  <!-- <div class="input-group mb-20">
                    <input type="text" placeholder="Type your name...." />
                    <span class="icon"><i class="fal fa-user"></i></span>
                  </div> -->
                </div>
                <div class="input-group">
                  <button
                    type="submit"
                    [disabled]="!commentFormIsValid() || loading"
                  >
                    <i class="fal fa-comments"></i>Post Comment &nbsp;
                    <div
                      class="spinner-border float-right"
                      role="status"
                      *ngIf="loading"
                    >
                      <span class="sr-only">Loading...</span>
                    </div>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-md-8 col-sm-10">
        <div class="blog-sidebar" [style.margin-bottom.px]="30">
          <div class="widget about-widget">
            <h4 class="widget-title">About Author</h4>
            <div class="about-contnent" *ngIf="userProfile">
              <img
                [src]="userImage ? userImage : default"
                [alt]="userProfile.username"
              />
              <h6 class="title">
                {{ userProfile.firstname + " " + userProfile.lastname }}
              </h6>
              <p [innerHtml]="userProfile.bio | slice: 0:100" class="bio"></p>
              <ul>
                <p></p>
              </ul>
            </div>
          </div>
        </div>
        <app-blogsidebar></app-blogsidebar>
      </div>
    </div>
  </div>
</section>

<ngx-loading
  [show]="loadingData"
  [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    animationType: animationType
  }"
></ngx-loading>
