<section class="latest-news section-gap secondary-bg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-lg-7">
        <div class="section-title white-color text-center mb-40">
          <h2 class="title mb-10">News Feeds</h2>
          <p class="text-color-2">
            See our latest posts on typhoid and feel free to share your articles on it as well.
          </p>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <!-- Data -->
      <div
        class="col-lg-4 col-md-6 col-sm-8"
        *ngFor="let post of posts | slice: 0:3"
      >
        <div class="latest-news-box-three mt-30">
          <img [src]="post.postimage" [alt]="post.title" />
          <div class="post-content">
            <span class="cat">{{ post.categoryname }}</span>
            <h5 class="title">
              <a routerLink="/blog/{{ post.slug }}">{{ post.title }}</a>
            </h5>
          </div>
          <a routerLink="/blog/{{ post.slug }}" class="news-link"
            ><i class="fal fa-long-arrow-right"></i>&nbsp;
            <span> {{ getDate(post.createdat) }}</span></a
          >
        </div>
      </div>
      <!-- Data -->
    </div>
  </div>
</section>

<ngx-loading
  [show]="loadingData"
  [config]="{
    backdropBorderRadius: '3px',
    fullScreenBackdrop: true,
    animationType: animationType
  }"
></ngx-loading>
